openapi: 3.1.0
info:
  title: Particle Cloud Access Tokens Products API
  description: 'The Particle Cloud API exposes IoT device management, product fleet

    management, OAuth client and token administration, diagnostics, SIM

    management and user account endpoints.

    '
  version: 1.0.0
  contact:
    name: Particle
    url: https://docs.particle.io/reference/cloud-apis/api/
servers:
- url: https://api.particle.io
  description: Particle Cloud production
security:
- BearerAuth: []
tags:
- name: Products
paths:
  /v1/products/{productIdOrSlug}/devices:
    get:
      summary: List devices in a product fleet
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of product devices.
      tags:
      - Products
    post:
      summary: Import devices into a product
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Devices imported.
      tags:
      - Products
  /v1/products/{productIdOrSlug}/devices/{deviceId}:
    get:
      summary: Get a product device
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product device details.
      tags:
      - Products
    delete:
      summary: Remove a device from a product
      parameters:
      - in: path
        name: productIdOrSlug
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Device removed.
      tags:
      - Products
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Pass `Authorization: Bearer {access_token}`. Tokens are issued via

        `POST /oauth/token`.

        '
